body {
    background: dimgrey;
}

/*global*/
.rounded-corners {
    border-radius: 10%;
}

.custom-paragraph-size {
    font-size: 1.2rem;
}

.text-grey {
    color: dimgrey;
}

/*navbar*/
.navbar {
    opacity: 0.8;
    border-bottom: cornflowerblue 3px solid;
}

/*home section*/
#home-section {
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .card {
    opacity: 0.8;
}

/*explore-section*/
#explore-section {
    background-color: #333333;
}

#explore-section .jumbotron {
    background-color: #333333;
}

/*create-section*/
#create-passion-section {
    background-color: #333333;
}

/*footer-section*/
#footer {
    background-color: #333333;
}
